.container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 1024px;
  background-color: #0e45fb;
}

// images bg cicle
.placeholderBg {
  position: absolute;
  left: 181px;
  top: 362px;
  width: auto;
  height: auto;
  transition: all 1s ease;
}
.circleBg1 {
  position: absolute;
  left: 181px;
  top: 362px;
  width: auto;
  height: auto;
  transition: all 1s ease;
}
.circleBg2 {
  position: absolute;
  border: 1px solid;
  display: none;
  width: auto;
  height: auto;
  left: 1059px;
  top: 69px;
}
.circleBg3 {
  display: none;

  position: absolute;
  border: 1px solid red;
  width: auto;
  height: auto;
  left: -40px;
  top: 924px;
}
.circleBg4 {
  display: none;

  width: auto;
  height: auto;
  position: absolute;
  border: 1px solid;
  left: 181px;
  top: 362px;
}
.appBg {
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 16px;
    height: 812px;
  }
  .appBg {
    left: 0;
    object-fit: cover;
    transform: none;
  }
}
