.container {
  margin: 198px auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  width: 100%;
  max-width: 865px;
  height: 252px;
}
.divider {
  width: 100%;
  height: 0px;
  margin-top: 16px;
  border-top: 1px solid #000000;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 32px;
    margin-top: 190px;
    margin-bottom: 32px;
  }
}
