.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #cfdafe;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  gap: 24px;
  animation: loadder 0.5s ease 3s forwards;
  & > h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
    color: #afc1fe;
    -webkit-text-stroke: 1px #0e45fb;
    display: flex;
    align-items: flex-start;
    & > .nodge {
      position: relative;
      top: 10px;
      font-size: 32px;
      line-height: normal;
    }
  }
  & > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
  }
}

@keyframes loadder {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
